#lol
*lol*

#Folders
tinke/
rooms/
zips/
*test*/
saves/
extract/
JP Library/

#Binaries
a.out
lib.a
*.so
*.o
*vgcore*
decrypt_pokemon_file
unit_test

#Files
*.nds
*.bin
*.txt
*.zip
*.pgt
*.pg4
*.pk4
*.wc4
*.pkm
*.xdelta
Unencrypted file
