#lol
*lol*

#Folders
tinke/
rooms/
zips/
*test*/
saves/
extract/
JP Library/

#Binaries
a.out
lib.a
*.so
*.o
*vgcore*
decrypt_pokemon_file
update_checksum
unit_test
hexdiff

#Files
*.nds
*.bin
*.txt
*.zip
*.pgt
*.pg4
*.pk4
*.wc4
*.pkm
*.xdelta
*TMP*
*tmp*

#Working files
[TMP]_encryption_file
[TMP]_new_checksum.pgt
